<!-- $Id: order_info.htm 17060 2010-03-25 03:44:42Z liuhui $ -->

{include file="pageheader.htm"}
{insert_scripts files="topbar.js,../js/utils.js,listtable.js,selectzone.js,../js/common.js"}
{if $user}
<div id="topbar">
  <div align="right"><a href="" onclick="closebar(); return false"><img src="images/close.gif" border="0" /></a></div>
  <table width="100%" border="0">
    <caption><strong> {$lang.buyer_info} </strong></caption>
    <tr>
      <td> {$lang.email} </td>
      <td> <a href="mailto:{$user.email}">{$user.email}</a> </td>
    </tr>
    <tr>
      <td> {$lang.user_money} </td>
      <td> {$user.formated_user_money} </td>
    </tr>
    <tr>
      <td> {$lang.pay_points} </td>
      <td> {$user.pay_points} </td>
    </tr>
    <tr>
      <td> {$lang.rank_points} </td>
      <td> {$user.rank_points} </td>
    </tr>
    <tr>
      <td> {$lang.rank_name} </td>
      <td> {$user.rank_name} </td>
    </tr>
    <tr>
      <td> {$lang.bonus_count} </td>
      <td> {$user.bonus_count} </td>
    </tr>
  </table>

  {foreach from=$address_list item=address}
  <table width="100%" border="0">
    <caption><strong> {$lang.consignee} : {$address.consignee|escape} </strong></caption>
    <tr>
      <td> {$lang.email} </td>
      <td> <a href="mailto:{$address.email|escape}">{$address.email|escape}</a> </td>
    </tr>
    <tr>
      <td> {$lang.address} </td>
      <td> {$address.address|escape} </td>
    </tr>
    <tr>
      <td> {$lang.zipcode} </td>
      <td> {$address.zipcode|escape} </td>
    </tr>
    <tr>
      <td> {$lang.tel} </td>
      <td> {$address.tel|escape} </td>
    </tr>
    <tr>
      <td> {$lang.mobile} </td>
      <td> {$address.mobile|escape} </td>
    </tr>
  </table>
  {/foreach}
</div>
{/if}

<form action="order.php?act=operate" method="post" name="theForm" onsubmit="return check_order();">
<div class="list-div" style="margin-bottom: 5px" id="separate_div">
<table width="100%" cellpadding="3" cellspacing="1">
  <tbody><tr>
        <th colspan="10">分货发送操作</th>
  </tr>
  <tr>
    <td scope="col"><div align="center"><strong>{$lang.goods_name_brand}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_shouhou}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.product_sn}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_price}</strong></div></td>
    <td scope="col"><div align="center"><strong>{$lang.goods_number}</strong></div></td>
    <td scope="col"><div align="center"><strong>店内库存</strong></div></td>
    <td scope="col"><div align="center"><strong>总店库存</strong></div></td>
    <td scope="col"><div align="center"><strong>店内发货数量</strong></div></td>

    <td scope="col"><div align="center"><strong>总店发货数量</strong></div></td>
  </tr>
   {foreach from=$goods_list item=goods key=key}
  <tr>
    <td>
    {if $goods.goods_id gt 0 && $goods.extension_code neq 'package_buy'}
    <a href="../goods.php?id={$goods.goods_id}" target="_blank">{$goods.goods_name} {if $goods.brand_name}[ {$goods.brand_name} ]{/if}
    {if $goods.is_gift}{if $goods.goods_price > 0}{$lang.remark_favourable}{else}{$lang.remark_gift}{/if}{/if}
    {if $goods.parent_id > 0}{$lang.remark_fittings}{/if}</a>
    {elseif $goods.goods_id gt 0 && $goods.extension_code eq 'package_buy'}
    <a href="javascript:void(0)" onclick="setSuitShow({$goods.goods_id})" style="font-size:15px;color:#ff0000;font-weight:bold;" >{$goods.goods_name}<span style="color:#FF0000;">{$lang.remark_package}</span></a>
    <div id="suit_{$goods.goods_id}" style="padding-left:20px;">
	包括以下商品：<br />
        {foreach from=$goods.package_goods_list item=package_goods_list}
          <a href="../goods.php?id={$package_goods_list.goods_id}" target="_blank">{$package_goods_list.goods_name}</a><br />
        {/foreach}
    </div>
    {/if}
    </td>
    <td>{$goods.shouhou}</td>
    <td>{$goods.goods_sn}</td>
    <td>{$goods.product_sn}</td>
    <td><div align="right">{$goods.formated_goods_price}</div></td>
    <td><div align="right">{$goods.goods_number}<input type="hidden" name="{$key}" id="{$key}"  value="{$goods.goods_number}" />
    </div></td>
    <td><div align="right">{$goods.self_storage}
    </div></td>
    <td><div align="right">{$goods.main_storage}
    </div></td>
    <td align="right">数量：<input type="text" name="self_send[]" id="self_{$key}" onchange="calcu(this.id)"  value="" max="{$goods.self_storage}"  onkeyup="value=value.replace(/[^\d\.]/g,'')" /></td>

    <td align="right">数量：<input type="text" name="main_send[]" id="main_{$key}" onchange="calcu(this.id)"  value="" max="{$goods.main_storage}"  onkeyup="value=value.replace(/[^\d\.]/g,'')" /><input type="hidden" name="send_info[]" id="send_info_{$key}" value="" /></td>

  </tr>
  {/foreach}
  <tr>
        <td colspan="10" align="right">快递单号：<input name="invoice_no" id="invoice_no" type="text"  onblur="if(this.value=='') this.value='请输入快递单号';" onfocus="if(this.value=='请输入快递单号') this.value='';" value="请输入快递单号"  style="color:#00F"/></td>
  </tr>
  <tr>
        <td colspan="10" align="right"><input name="to_shipping" type="submit"  value="确认发货" class="button" /></td>
  </tr>
  
</tbody></table>
</div>    
    <input type="hidden" name="order_id" value="{$order_id}" id="order_id" />
    <input type="hidden" name="to_shipping" value="1" id="to_shipping" />
    <input type="hidden" name="separate_order" value="1" id="separate_order" />
</form>
<script language="JavaScript">
    function calcu(x){            
        var self=document.getElementById(x).value;
        var arr = x.split("_");
        var id = arr[1];
        var total=document.getElementById(id).value;
        
        if(self-total>0){
            alert("发货数量不能大于订单商品数");
            document.getElementById(x).value = 0;
            return false;
        }
        
        if(arr[0]=='main'){
            document.getElementById("self_"+id).value = total - self;
        }
        
        if(arr[0]=='self'){
            document.getElementById("main_"+id).value = total - self;
        }
    }
    
    function check_order(){
        var self_maxs = document.getElementsByName("self_send[]");
        var main_maxs = document.getElementsByName("main_send[]");
        var self_total=0;
        var main_total=0;
        
        
        var invoice_no = document.getElementById('invoice_no').value;
        
       
            
        for (var k = 0; k < self_maxs.length; k++) {
            var self_max = self_maxs[k].getAttribute("max");
            var main_max = main_maxs[k].getAttribute("max");
            
            var self_val = self_maxs[k].value;
            var main_val = main_maxs[k].value;      
            
            
            
            if(self_val-self_max>0){
                alert("发货数量不能大于店内库存");
                return false;
            }
            if(main_val-main_max>0){
                alert("总店发货数量不能大于总店库存");
                return false;
            }
            
            document.getElementById("send_info_"+k).value = '{$goods.goods_id}' + "|" + self_val + "|" + main_val;            
            self_total += parseFloat(self_val);
            main_total += parseFloat(main_val);
        }        
        
        if(main_total<1){
             alert("总部发货不能全为0");
                return false;
        }
        if(self_total<1){
             return true;
        }else{
            if(!invoice_no){
                alert("快递单号不能为空");
                return false;
            }
        }
        
        
        
    }
</script>   
{include file="pagefooter.htm"}