<!-- $Id: auction_list.htm 14888 2008-09-18 03:43:21Z levie $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchActivity()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    申请人<input type="text" name="keyword" size="30" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="post" action="supplier_loan.php" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<!-- start auction list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>编号</th>
      <th>申请人{$sort_loan_name}</th>
      <th>贷款金额(元){$sort_loan_money}</th>
      <th>贷款时间{$sort_start_time}</th>
      <th>还款时间{$sort_end_time}</th>
      <th>申请事由</th>
      <th>申请时间</th>
      <th>审核时间</th>
      <th>状态</th>
    </tr>

    {foreach from=$loan_list item=loan}
    <tr>
      <td align="center">{$loan.loan_id}</td>
      <td align="center">{$loan.loan_name}</td>
      <td align="center">{$loan.loan_money}</td>
      <td align="center">{$loan.loan_start_time}</td>
      <td align="center">{$loan.loan_end_time}</td>
      <td align="center">{$loan.loan_desc}</td>
      <td align="center">{$loan.apply_time}</td>
      <td align="center">{$loan.verify_time}</td>
      <td align="center">{if $loan.status==1}审核通过{elseif $loan.status==-1}未通过{else}审核中{/if}</td>
    {foreachelse}
    <tr><td class="no-records" colspan="12">{$lang.no_records}</td></tr>
    {/foreach}
  </table>

  <table cellpadding="4" cellspacing="0">
    <tr>
      <td align="right">{include file="page.htm"}</td>
    </tr>
  </table>

{if $full_page}
</div>
<!-- end auction list -->
</form>

<script type="text/javascript" language="JavaScript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}


  {literal}
  onload = function()
  {
    document.forms['searchForm'].elements['keyword'].focus();

    startCheckOrder();
  }

  /**
   * 搜索团购活动
   */
  function searchActivity()
  {

    var keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['keyword'] = keyword; 
    listTable.filter['flag'] = 'history';
    listTable.filter['page'] = 1;
    listTable.loadList("supplier_loan_histroy");
  }
  {/literal}
//-->
</script>

{include file="pagefooter.htm"}
{/if}